<h1>New translation</h1>

<%= display_flash %>

<%= form_for(@translation, :as => :translation, :url => locale_translations_path(@locale), :method => :post) do |f| %>
  <p><%= f.label :key, 'Key' %><%= f.text_field :key %></p>
  <p><%= f.label :value, 'Value' %><%= f.text_field :value %></p>
  <p><%= f.submit "Create" %></p>
<% end %>

<p><%= link_to 'Back', locale_translations_path %></p>
