<%= render :partial => 'stats' %>

<%= form_tag translations_url do %>
  <%= select_tag :locale_id, options_from_collection_for_select(Locale.all, :code, :name, @locale.code) %>
  <%= select_tag :translation_option, 
    options_from_collection_for_select(TranslationOption.all, :code, :description, @translation_option.code) %>
    <%= hidden_field_tag :show_keys,'off' %><%= check_box_tag :show_keys,'on',session[:show_keys] == 'on' %> Show keys
  <%= submit_tag 'Go' %>
<% end %>

<p>Textual Translation progress: <strong><%= @locale.percentage_translated %>%</strong> <%= link_to 'Export to CSV',translations_url(:locale_id => @locale.code,:translation_option => @translation_option.code,:export => 'csv') %></p>

<h2><%= @translation_option.description %>: <%= @locale.name %></h2>

<% if @translations.empty? %>
  <h3>No records for this criteria.</h3>
<% end %>

<% for translation in @translations %>
  <div id="<%= "translation_#{translation.class}_#{translation.id}" %>">
  <%= form_for(translation, :as => :translation, :url => locale_translation_path(@locale, translation), :remote => true) do |f| %>
      <% if session[:show_keys] == 'on' and translation.raw_key != translation.default_locale_value %>
        <p style="font-style: italic; font-weight: bold;"><%= translation.raw_key %>:</p>
      <% end %>
      <p><%= default_value = translation.default_locale_value || translation.raw_key %></p>
      <% if missing_params = check_for_missing_params(default_value,translation.value) %>
          <% if translation.value.blank? %>
            <p style="background-color: gold; font-weight: bold;">
              NOTE: The translation below must include the following substitution parameter(s) from the original:
          <% else %>
            <p style="background-color: red; color: white; font-weight: bold;">
              WARNING: The translation below is missing following substitution parameter(s) from the original:
          <% end %>
          <%= missing_params.collect{|param| "%{#{param}}"}.join(' ') %>
        </p>
      <% end %>
    <p><%= f.text_field :value, :style => 'width: 90%;' %> <%= f.submit "Update" %></p>
  <% end %>
  </div>
  <hr/>
<% end %>
