<h1>Editing locale</h1>

<%= display_flash %>

<% form_for(@locale, :url => locales_path(@locale), :method => :put) do |f| %>
  <p><%= f.label :code, 'Code' %><%= f.text_field :code %></p>
  <p><%= f.label :name, 'Name' %><%= f.text_field :name %></p>
  <p><%= f.submit "Update" %></p>
<% end %>

<p><%= link_to 'Show', locale_path(@locale) %> | <%= link_to 'Back', locales_path %></p>
