<h1>New locale</h1>

<%= form_for(@locale, :url => locales_path, :html => {:method => :post}) do |f| %>
  <%= display_flash %>
  <p><%= f.label :code, 'Code' %><%= f.text_field :code %></p>
  <p><%= f.label :name, 'Name' %><%= f.text_field :name %></p>
  <p><%= f.submit "Create" %></p>
<% end %>

<p><%= link_to 'Back', locales_path %></p>
